@{
    ViewData["Title"] = "Test Nawadata ";
}

<h1>@ViewData["Title"]</h1>

<h2>Test 2 </h2>
<p><h4>@ViewData["test02_title"]</h4>@ViewData["genap"]</p>
<p>@ViewData["test02"]</p>
<p>@ViewData["test02_vowel"]</p>