@{
    ViewData["Title"] = "Test Nawadata ";
}

<h1>@ViewData["Title"]</h1>

<h2>Test 1 </h2>
<p>@ViewData["res"]</p>
<p><h4>Ganjil</h4>@ViewData["ganjil"]</p>
<p><h4>Genap</h4>@ViewData["genap"]</p>

<h2>Test 2 </h2>

<h2>Test 3 </h2>

<h2>Test 4 </h2>
<p><h4>@ViewData["test04_title"]</h4>@ViewData["genap"]</p>
<p>@ViewData["test04"]</p>

<h2>Test 5 </h2>


